* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;

}

:root {
    --text-color: #fff;
    --bg-color: #1b1f24;
    --second-bg-color: #22282f;
    --main-color: #f19900;
    --other-color: #c3cad5;

    --h1-font: 4.5rem;
    --h2-font: 2.9rem;
    --p-font: 1rem;

}

body {
    color: var(--text-color);
    background: var(--bg-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 16%;
    background: transparent;
    transition: all .50s ease;
}

.logo {
    font-size: 36px;
    color: var(--text-color);
    font-weight: 600;
}

span {
    color: var(--main-color);

}

.navlist {
    display: flex
}

.navlist a {
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--other-color);
    margin-left: 40px;
    transition: all .50s ease;
}

.navlist a:hover {
    color: var(--main-color);
    text-shadow: 3px 3px 20px var(--main-color), -2px 1px 30px var(--text-color);
}

#menu-icon {
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.h-btn {
    display: inline-block;
    padding: 11px 26px;
    background: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50s ease;
}

.h-btn:hover {
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 20px var(--main-color);
    transform: scale(1.1);
}

section {
    padding: 110px 10% 90px;
}

.hero {
    height: 100vh;
    width: 100%;
    background-image: url(img/background.png);
    background-position: top right;
    background-size: 50%;
    background-repeat: no-repeat;
    display :flex;
    align-items:center;
    justify-content: flex-start;
    
   
}

.main-content h4{
    font-size: 1.6rem;
}
.main-content h1{
    font-size:var(--h1-font);
    font-weight: 900;
    margin:20px 0px 20px;
     line-height: 1.2;
}
.main-content p{
   font-size:var(--p-font); 
   font-weight: 400; 
    width:620px;
    max-width:100%;
    color: var(--other-color);  
    line-height:30px;
    margin-bottom:15px;
}
.social{
    margin-bottom:40px;
}
#posi{
    margin-left: 28%;
    
}
.social i{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    width:40px;
    height:40px;
    color:var(--main-color);
    border-radius:50%;
    backdrop-filter:brightness(88%);
    font-size:20px;
    margin-right:17px;
    box-shadow:0 0 20px transparent;
    cursor:pointer;
    transition: all .50s ease;
}
.social i:hover{
    transform:scale(1.1);
    box-shadow:0 0 20px var(--main-color);
}
.btn{
    display: inline-block;
    padding:11px 26px;
    background: var(--main-color);
    color:var(--bg-color);
    border:2px solid var(--main-color);
    border-radius:8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50s ease;
}
.btn:hover{
    background:transparent;
    color:var(--main-color);
    box-shadow: 0 0 20px var(--main-color);
}
.btn2{
    background:transparent;
    color: var(--main-color);
    border:2px solid var(--main-color);
    margin-left: 15px;
    transition:all .50s ease;
}  
.btn2:hover{
   background:var(--main-color) ;
   color: var(--bg-color)
}
header.sticky{
   background: var(--bg-color);
   box-shadow: 0 .1rem 1rem rgba(0,0,0,.2);
   padding: 16px 16%;
}
.about{
    background: var(--bg-color);
    display: grid;
    grid-template-columns: 1fr 2fr;
   align-items:center;

    gap: 4rem;
}
.about-img img{
    width: 100%;
    height: 400px;
    max-width: 400px;
    border-radius: 60%;
    object-fit:cover;
    border: 7px solid var(--main-color);
    box-shadow: 0 0 20px var(--main-color);
    margin-bottom: 50px;
    margin-top: 70px;
}
.about-text h2{
    font-size:var(--h2-font);
    line-height: 1.3;
    margin-bottom:20px;
    text-align: baseline;
}


.exp-area p{
    color: var(--text-color);
    font-weight: 600;
    font-size: 19px;
    line-height:42px ;
}
.banner-container {
    margin-bottom: 30px;
    padding: 0px;
     position: relative;
    width: 100%;
    height:500px;
    overflow:hidden;
    background: #1f242b;
    border-radius: 28px;
    border:2px solid transparent;
    box-shadow: 0 0 10px var(--main-color);
    
}

.slides {
    width: 100%;
    height:auto;
    display: flex;
    transition: transform 0.5s ease;
   
}

.slide {
    flex: 0 0 100%;
    padding: 20px;
    
    box-sizing: border-box;
    text-align: center;
    border-radius: 28px;
    background-color:transparent;
    border:1px solid transparent;
}

.dots-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color: var(--main-color);
}
.bannercontainer2{
    
    margin-bottom: 30px;
    padding: 15px ;
    position: relative;
    overflow: hidden;
    height:1100px;
}
.slides2{
    width:100%;
    position: absolute;
    display:flex;
    
    cursor: grab;
}
.slides2:active{
    cursor: grabbing;
}

  .exp-area p span{
    color:var(--other-color);
    font-size: var(--p-font);
    font-weight: 400;
    margin-left: 8px;
  }
  .center-text {
    text-align:center;
  }
  .center-text h2{
    font-size: var(--h2-font);
  }
  .services-content{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,auto));
    align-items: center;
    gap: 2.3rem;
    margin-top: 4.2rem;
}
.box{
    padding: 80px 40px 66px;
    background: #1f242b;
    border-radius: 28px;
    border:1px solid transparent;
    box-shadow: 0 0 5px var(--main-color);
    transition:all  .50s ease;
    cursor:pointer;
}
.box img{
    margin-bottom: 20px;
}
.box h3{
    font-size: 30px;
    font-weight:700;
    margin-bottom: 10px;
}
.box p{
font-size: var(--p-font);
font-weight: 400;
color: var(--other-color);
line-height: 30px;
margin-bottom: 20px;
}
.box a{
    display:inline-block;
    font-size: 22px;
    line-height: 1.273em;
    font-weight:700;
    padding: 7px 0;
    color:var(--text-color);
    border-bottom: 2px solid #5d6c83;
    transition: all .50s ease;
}
.box i{
    vertical-align:middle ;
    font-size: 25px;
    color:var(--main-color);
    margin-left: 5px;
}
.box a:hover{
    border-bottom: 2px solid var(--main-color);
}
.box:hover{
    border:1px solid var(--main-color);
    transform:translateY(-5px)scale(1.03)
}
.portfolio{
    background: var(--second-bg-color);
    
}

.Portfolio-content{
    flex: 0 0 100%;
    box-sizing: border-box;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(340px,auto));
    align-items: center;
    gap: 2.3rem;
    margin-top: 4.2rem;
    padding: 10px 2%;
    
}
.row img{
    height:auto;
    width:100%;
    border-radius:28px;
    margin-bottom:1.4rem;
}
.row{
    background:#1f242b;
    border-radius:28px;
    border: 1px solid transparent;
    box-shadow: 0 0 5px var(--main-color);
    padding:20px;
    transition:all .50s ease;
}
.main-row{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-bottom: 0.5rem;
}
.row h5{
    font-size: 20px;
    font-weight:600 ;
    color: var(--other-color);
}
.row i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    font-size: 17px;
    border-radius: 50%;
    color: var(--text-color);
    background: #f19900;
}
.row h4{
   font-size: 25px;
   font-weight: 700;
   margin-bottom: 10px; 
   line-height: 1.4;
}
.row:hover{
    border: 1px solid var(--main-color);
    transform:translateY(-5px) scale(1.03);
    cursor:pointer;
}
.contact-form{
    display: flex;
    align-items:center;
    justify-content: center;
    margin-top: 4.2rem;
}
.contact-form form{
    position: relative ;
    width:600px;
}
form input,
form textarea{
    width:100%;
    padding:20px;
    border:none;
    outline:none;
    box-shadow: 0 0 5px var(--main-color);
    background: #1f242b;
    color:var(--text-color);
    margin-bottom: 20px;
    border-radius:8px;
}
form input ::placeholder,
form textarea ::placeholder{
    color: var(--other-color);
    font-size: 15px;
}
form .send-btn{
    display:inline-block ;
    padding:11px 26px;
    background: var(--main-color);
    color:var(--bg-color);
    border:2px solid var(--main-color);
    border-radius:8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50s ease;
    width: 30%;
}
form .send-btn:hover{
    background: transparent;
    color: var(--main-color);
    box-shadow:0 0 20px var(--main-color);
    cursor:pointer;
}
.footer{
    padding: 22px 16%;
    background: rgb(29, 29, 29);
    display:flex;
    align-items: center;
  justify-content: space-between;
  gap:2rem;
}
.copyright p{
    font-size:15px;
    font-weight: 400;
    color :  var(--other-color);
}
.scroll-top i{
    display: inline-flex;
    align-items:center;
    justify-content: center;
    background: #f19900;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: var(--text-color);
    font-size: 27px;
}
.education-section {
    font-family: Arial, sans-serif;
    height: 450px;
    padding:10px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    background: transparent;
}
.education-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.education-title-description {
    text-align: left;
    padding:20px;
    border-radius: 18px;
    
    box-shadow: 0 0 10px var(--main-color);
    
    background:transparent;
    color: var(--main-color);
    border:2px solid var(--main-color);
    margin-left: 15px;
    transition:all .50s ease;
}

.education-title {
    font-weight: bold;
    font-size: 1.2em;
    color: #f7e0b2;
}
.education-details {
    font-size: 1em;
    text-align: right;
    margin-top: 20px;
    text-shadow:0 0 10px rgb(241, 153, 0);
    
}
.container24 {
    width: 100%;
    height: 450px;
    padding: 10px;

    background: transparent;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    text-align: center;
}



.skill {
    display: inline-block;
    margin: 20px;
    text-align: center;
}

.circular-progress {
    position: relative;
    width: 135px;
    height: 135px;
    background: conic-gradient(
        var(--main-color) calc(var(--percentage) * 1%), 
        #e0e0e0 calc(var(--percentage) * 1%)
    );
    box-shadow:0 0 20px #f19900;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.circular-progress::before {
    content: '';
    position: absolute;
    width: 85%;
    height: 85%;
    background: #000;
    border-radius: 50%;
}

.percentage {
    position: relative;
    font-size: 1.2em;
}

.circular-progress[data-percentage="90"] {
    --percentage: 90;
}

.circular-progress[data-percentage="85"] {
    --percentage: 85;
}

.circular-progress[data-percentage="80"] {
    --percentage: 80;
}

.circular-progress[data-percentage="75"] {
    --percentage: 75;
}

.circular-progress[data-percentage="70"] {
    --percentage: 70;
}
.workexpo{
    width: 100%;
    height: auto;
    padding: 20px;
    background: transparent;
    text-shadow: #5d6c83;
    text-align: center; 
    font-size: larger;
    font-stretch: expanded;
    font-style: italic;
    margin-top: 60px;
}

.workexpo span{
    color: #e0e0e0;
    text-shadow: 0 0 10px #ef9e12;
}
.container26{
    width: 100%;
    height: 450px;
    padding: 20px;
    background: transparent;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    text-align: center;
}
body.no-select {
    user-select: none;
    pointer-events: none;
  }
@media (max-width: 1700px){
    header{
        padding: 20px 7%;

    }
    header.sticky{
        padding: 14px 6%;
    }
    section{
        padding: 90px 8% 80px;
    }
    .footer{
        padding: 18px 8%;
    }
    .logo{
        font-size: 28px;
    }
    
}
@media (max-width: 1400px){
    header{
        padding: 20px 15%;

    }
    header.sticky{
        padding: 14px 15%;
    }
    section{
        padding: 80px 5% 80px;
    }
    .footer{
        padding: 18px 5%;
    }
    .hero{
        height: 60vh;
        background-position: top right;
    }
    .about{
        grid-template-columns: 1fr 2fr ;
        gap:2rem;
        text-align:center;
        
    }
    .about-img img{
        text-align:center;
        width:100%;
        height:300px;
        max-width:300px;
        border-radius:50%;
        object-fit:cover;
        margin: 0 auto;
    }
    
   
}
@media (max-width: 1290px){
    .box{
        padding: 40px 40px 46px;
    }
    .box img{
        width:100%;
        height:60px;
        max-width: 60px;
    }
    .box h3{
        font-size: 21px;
    }
}
@media (max-width: 1240px){
    .about{
        grid-template-columns: 1fr;
        gap:2rem;
        text-align:center;
    }
    .about-img img{
        text-align:center;
        width:100%;
        height:400px;
        max-width:400px;
        border-radius:50%;
        object-fit:cover;
        margin: 0 auto;
    }
    :root{
        --h1-font:4rem;
        --h2-font:2.2rem;
        --p-font: 15px;
    }
    .hero{
        height: 90vh;
        background-position: top right;
    }
}
@media (max-width: 950px){
:root{
    --h1-font:3.5rem;
}
.social{
    margin-bottom: 20px;
}
#menu-icon{
    display:block;
}
.navlist{
    position:absolute;
    top:100%;
    right:-100%;
    width:255px;
    min-height: 100vh;
    display:flex;
    flex-direction:column;
    background:var(--bg-color);
    transition:all .50s ease;
}
.navlist a{
   display:block;
   padding:17px;
   font-size: 22px; 
}
.navlist.active{
    right:0;
}
.hero{
    height: 60vh;
    background-position: top right;
}
.banner-container {
    display: none;
}
}
@media (max-width: 680px){
    header{
       width:100%;
       
    }
     .main-content p{
        width:100%;
     }
     .hero{
        height: 60vh;
        background-position: top right;
    }
    .banner-container {
       display: none;
    }
}
@media (max-width:470px){
    header{
        width:100%;
        padding: 20px 5%;
     }
     header.sticky{
        padding: 14px 5%;
    }
    :root{
        --h1-font:3rem;
        --h2-font:2rem;
    }
    .about-img img{
        text-align:center;
        width:100%;
        height:200px;
        max-width:200px;
        border-radius:50%;
        object-fit:cover;
        margin: 0 auto;    
    }
    .banner-container {
        
        display: none;
    }
   .hero{
    background-image: none;
    margin-top:120px ;
   }
    .main-content p{
        width:80%;
     }
     .Portfolio-content{  
           width:100%;
        padding:10px 5%;
        height:300px;
     }
     
}
